# Django Settings
SECRET_KEY=django-insecure-your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
# Format: postgres://user:password@host:port/dbname
DATABASE_URL=postgres://dinesh@localhost:5432/crm_db

# Redis / Celery
REDIS_URL=redis://localhost:6379/0

# Security (Optional for Production)
# SECURE_SSL_REDIRECT=True
# SESSION_COOKIE_SECURE=True
# CSRF_COOKIE_SECURE=True
